neovim
ipython
pyyaml
cryptography
black
ansible
ncclient
virtualenvwrapper
pipenv
pycodestyle
flake8
pep8
autopep8
yapf
pylint
yamllint
netmiko
netdev
asyncio
uvloop
jinja2
xmltodict
powerline-status
pygments
colorama
glances
