[user]
        name = {{ full_name }}
        email = {{ git_email }}
[core]
        editor = vim
[merge]
        tool = vimdiff
[credential]
        helper = store
[push]
        default = simple
[github]
        user = {{ git_user }}
