- import_tasks: debian.yml
  when: ansible_os_family == "Debian"

- import_tasks: arch.yml
  when: ansible_os_family == "Archlinux"

- name: Install pyenv
  git:
    repo: https://github.com/pyenv/pyenv
    dest: ~/.pyenv

- name: Install pyenv-update
  git:
    repo: https://github.com/pyenv/pyenv-update
    dest: ~/.pyenv/plugins/pyenv-update

- name: Install pyenv-virtualenv
  git:
    repo: https://github.com/pyenv/pyenv-virtualenv
    dest: ~/.pyenv/plugins/pyenv-virtualenv

- name: Ensure private bin exist
  file:
    path: ~/bin
    state: directory

- name: Install Python versions with pyenv
  shell: "{{ user_home }}/.pyenv/bin/pyenv install {{ item }} --skip-existing"
  args:
    creates: "{{ '~/.pyenv/versions/' + item | expanduser }}"
  loop: "{{ pyenv_global_versions }}"

- name: Create pyenv versions symlink
  file:
    src: "{{ user_home }}/.pyenv/versions/{{ item }}/bin/python"
    dest: "{{ user_home }}/bin/python{{ item }}"
    state: link
  loop: "{{ pyenv_global_versions }}"
